body{
    height: 100vh;
    background: linear-gradient(0deg, rgba(40, 170, 109, 0.589), rgba(59, 144, 201, 0.582));
    overflow-y: hidden;
    margin:0;
   
}


tr,td{
    border: 2px solid black;
}
td{
    padding: 1.15vw;
    height: 3vh;
    background-color: rgba(52, 207, 52, 0.514);
}
table{
    border-collapse: collapse;
}

*{
    box-sizing: border-box;
    font-family: lato;
}

.totalScore{
    min-width: 8vw;
    max-width: 13vw;
}
input[type=number]{
    width: 9vw;
}
input[type=text]{
    width: 15vw;
}



#wszystko{
    margin:0;
    margin-left: 1vw;
    margin-right: 1vw;
}
#scoreTableDiv{
    overflow-x: scroll;
    width:88vw;
    margin:0;
    float:left;
    
}
#addScoreTable{
    width: 5vw;
    float:right;
}
#tabela{
    overflow: hidden;
    margin-bottom: 2vh;
    background-color: rgba(52, 207, 52, 0.288);
    border:3px groove green;
}
.funButton{
    font-size: 2vw;
    padding:2vw;
}
#newRound{
    float:right;
}
#clear{
    float:left;
}

#winScreen{
    width:100vw;
    height:100vh;
    margin:0;
    background-color: rgba(72, 134, 189, 0.712);
    position: absolute;
    top:0;
    left:0;
    display: none;
    transition-duration: 1s;
    transition-property: display;
}
#winBox{
    border: 15px groove green;
    background-color: rgba(255, 166, 0, 0.877);
    width:25vw;
    height: 20vh;
    position:absolute;
    text-align:center;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    transition-property: border-color;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#winHeaderWrapper{
    width:100%;
    height: 30%;
    padding-top:.5rem;
    padding-bottom:.5rem;
    font-size: 1.5rem;
    text-decoration: underline;
}
#winContentWrapper{
    width:100%;
    padding-left: .5rem;
    padding-right: .5rem;
    height: 45%;
    font-size: 1.2rem;
}
#winButton{
    position: relative;
    height: 25%;
}


@media(max-width:998px){
    .funButton{
        font-size: 5vw;
    }
    #winBox{
        width: 80vw;
        height: 25vh;
        top:40%;
    }
    #winButton{
        font-size: 1rem;
        padding: .5rem;
        height: auto;
    }
    #winHeaderWrapper, #winContentWrapper, #winButtonWrapper{
        height:33%;
    }
}

