body{
    height: 100vh;
    background: linear-gradient(0deg, rgba(40, 170, 109, 0.589), rgba(59, 144, 201, 0.582));
    overflow-y: hidden;
    margin:0;
    margin-left: 1vw;
    margin-right: 1vw;
}


tr,td{
    border: 2px solid black;
}
td{
    padding: 1.15vw;
    height: 3vh;
    background-color: rgba(52, 207, 52, 0.514);
}
table{
    border-collapse: collapse;
}

*{
    box-sizing: border-box;
    font-family: lato;
}

.totalScore{
    min-width: 8vw;
    max-width: 13vw;
}
input[type=number]{
    width: 9vw;
}
input[type=text]{
    width: 15vw;
}


#scoreTableDiv{
    overflow-x: scroll;
    width:88vw;
    margin:0;
    float:left;
    
}
#addScoreTable{
    width: 5vw;
    float:right;
}
#tabela{
    overflow: hidden;
    margin-bottom: 2vh;
    background-color: rgba(52, 207, 52, 0.288);
    border:3px groove green;
}
.funButton{
    font-size: 2vw;
    padding:2vw;
}
#newRound{
    float:right;
}
#clear{
    float:left;
}

